html {
  height: 100%;
}

body {
  background: linear-gradient(#FFF, #CCCCD4);
  
}

h1.title {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 0px;
  font-family: 'EncodeSansThin', sans-serif;
  font-size: 7vw;
}

.subtitle {
  text-align: center;
  margin-top: 0px;
  font-family: 'EncodeSansThin', sans-serif;
  font-size: 3vw;
}

.aznd-inline-logo {
  height: 1em;
  transform: translate(0, 0.12em);
}

.projects {
  margin-top: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

a.projectTile {
  display: inline-block;
  margin: 25px;
  padding: 10px;
  background: white;
  border-color: blue;
  border-width: 1px;
  border-style: solid;
  border-radius: 15px;
  font-family: sans-serif;
  text-decoration: none;
}

a.projectTile:active {
  background: lightgray;
}

a.projectTile:visited {
  border-color: purple;
}

a.projectTile p:nth-child(2) {
  font-size: smaller;
  color: gray;
}

a.projectTile p:first-child {
  font-weight: bold;
}

a.disabled {
  color: black;
  border-color: black;
}
