/* Created 3/04/2019 by Chandler Gerstenslager - Added basic css styling for calculator
   Modified 3/5/2019 by Ryan Williamson - Themed the calculator background
   Modified 3/19/2019 by Jason Clemens - Removed redundant code by splitting files.
   Modified 3/21/2019 by Sean Edwards - Widened calulator display slightly to fit larger factorials.
*/

@font-face {
  /*
     Used with Permission
     Credit to:
     Sizenko Alexander
     Style-7
     http://www.styleseven.com
      Created: October 7 2008
   */
  font-family: Digital-7;
  src: url(fonts/digital-7.ttf);
}

.calculator {
  width: 95%;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.calc-display {
  width: 95%;
  max-width: 575px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.calc-display p {
  font-family: Digital-7;
  font-size: 50px;
  padding: 15px;
  text-align: right;
  margin: 0px;
}

table {
  table-layout: fixed;
  width: 100%;
}

.table-container {
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
}

.buttons {
  text-align: center;
  font-size: 1.0em;
  font-weight: bold;
  line-height: 200%;
}

.button {
  /*display: inline-block;*/
  /*padding: 15px 25px;*/
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 31px;
  /*width: 101px;*/
  min-width: 90%;
  height: 71px;
  margin-bottom: 20px;
}

.button:active, .keypressed {
  transform: translateY(4px);
}

.changeTheme {
  position: fixed;
  bottom: 5px;
  right: 0;
}

#extra-buttons {
  display: none;
  width: 25px;
}

#aznd-logo{
  width: 100%;
  margin-top: 10px;
}

#view {
  margin-top: 5px;
}

.buttons-container{
  text-align: center;
  margin-bottom: 18px;
}
