/* Created 3/04/2019 by Chandler Gerstenslager - Added basic css styling for calculator
   Modified 3/5/2019 by Ryan Williamson - Themed the calculator background
*/

body {
  background-color: #efefef;
}

.calculator {
  background-color: #90a4ae;
}

.calc-display {
  background-color: #fff;
}

.calc-display p {
  color: #000;
}

.button {
  color: #fff;
  background-color: #62757f;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: #3e8e41
}

.button:active, .keypressed {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
}

.changeTheme {
  color: #000;
}
